source "arch/Kconfig"

menu "Compile-time checks and compiler options"

config DEBUG
	bool "Debug compile option"
	default y

config GCC_V
	bool "GCC option v"
	default n

endmenu

menu "VM configuration"

config NR_VMS
	int "Number of Virtual Machines(or Guest OS)"
	default 1
	range 1 256

config VA_START
	hex "Virtual address of guest OS"
	default 0x00000000

endmenu

menu "Timer/Scheduler options"

config SCHED_RM_REPORT
	bool "Enable rate monotonic policy report printing"
	default n

config SCHED_EDF_REPORT
	bool "Enable earlist deadline first policy report printing"
	default n

config SCHED_STOPWATCH
	bool "Enable timing scheduler routine"
	default n

config TIMER_IRQ_STOPWATCH
	bool "Enable timing timer IRQ routine"
	default n

config TIMER_DEBUG
	bool "Enable printing timer debug info"
	default n

config TIMER_ACCESS_TRAP
	bool "Enable vTimer, catch timer accesses from guest"
	default y

config VTIMER_PERIODIC
	bool "Use vTimer periodic mode"
	default n

endmenu
