source "core/Kconfig"

menu "ARM architecture"
	depends on ARM

config ARMV7_VIRT
	bool

config CPU_A7
	bool

config CPU_A15
	bool

choice
	prompt "Target select"

config ARCH_VERSATILE
	bool "ARM Ltd. Versatile family"
	select ARMV7_VIRT
	select CPU_A15
	select PL01X_SERIAL
	select VDEV_SAMPLE
	select VDEV_SP804
	select VDEV_SYSREG
	select VDEV_PL01X_SERIAL

config RMOBILE
	bool "Renesas ARM SoCs"
	select ARMV7_VIRT
	select CPU_A15
	select SH_SERIAL

config ARCH_EXYNOS
	bool "Samsung EXYNOS"
	select ARMV7_VIRT
	select CPU_A15
	select S5P_SERIAL
	select MCT

config ARCH_SUNXI
	bool "Allwinner SUNXI SoCs"
	select ARMV7_VIRT
	select CPU_A15
	select NS16550_SERIAL

endchoice

source "platform/Kconfig"

menuconfig ARM_PSCI
    bool "Support for ARM PSCI"

if ARM_PSCI

choice
    prompt "ARM PSCI version"

config ARM_PSCI_VERSION_0_1
    bool "ARM PSCI version 0.1"

config ARM_PSCI_VERSION_1_0
    bool "ARM PSCI version 1.0"

config ARM_PSCI_VERSION_1_1
    bool "ARM PSCI version 1.1"

endchoice

config ARM_PSCI_FN_BASE
    hex "ARM PSCI base function id"
    default 0x84000000 if ARM_PSCI_VERSION_1_0 || ARM_PSCI_VERSION_1_1

endif

menuconfig OPTEE
    bool "Support for OP-TEE Trusted OS"

if OPTEE

config NR_OPTEE_THREAD
    int "Number of OP-TEE threads"
    default 8
    range 1 256

endif

endmenu

