CONFIG_ARM=y
CONFIG_ARCH_SUNXI=y
CONFIG_CPU_A15=y

CONFIG_ARM_PSCI=y
CONFIG_ARM_PSCI_VERSION_0_1=y
CONFIG_ARM_PSCI_BASE=0x95c1ba5e

CONFIG_SMP=y

CONFIG_NS16550_SERIAL=y

CONFIG_DEBUG=y

CONFIG_VA_START=0x48000000
